<div class="d-flex flex-column align-items-center">
    @if (subjects.length === 0) {
        <span>Brak wyników.</span>
    }
    @for (subject of subjects; track $index) {
        @if (hasCategoryId) {
        <a routerLink="subject/{{ subject.id }}" routerLinkActive="active">
            <p>{{$index+1}}. {{subject.title}}</p>
        </a>
        }
        @if (hasSearchParameter) {
        <a routerLink="/search-subject/subject/{{ subject.id }}" routerLinkActive="active">
            <p>{{$index+1}}. {{subject.title}}</p>
        </a>
        }
    }
</div>