<div class="d-flex flex-column  justify-content-center">
    <div>

        <div class="row border mb-1 d-flex justify-content-between">
            <div class="col-2 text-center"><span>Data</span></div>
            <div class="col-8 text-center"><span>Temat</span></div>
            <div class="col-2 text-center"><span>Autor</span></div>
        </div>

        @if (subjects.length === 0) {
            <span>Brak wyników.</span>
            }
            
        @for (subject of subjects; track $index) {
        <div class="row border shadow-sm mb-2 pt-3 pb-3  div-hover">
            <div class="col-2 text-center">{{subject.timeCreated | date:'dd.MM.yyyy'}}</div>
            <div class="col-8 text-center">@if (hasCategoryId) {
                <a routerLink="subject/{{ subject.id }}" routerLinkActive="active">
                    <span>{{$index+1}}. {{subject.title}}</span>
                </a>
                }
                @if (hasSearchParameter) {
                <a routerLink="/search-subject/subject/{{ subject.id }}" routerLinkActive="active">
                    <span>{{$index+1}}. {{subject.title}}</span>
                </a>
                }
            </div>
            <div class="col-2 text-center">{{subject.user.firstName}} {{subject.user.lastName}}</div>
        </div>
        }
    </div>
    

</div>