<div class="d-flex flex-column align-items-between justify-content-center">
    <div>
    @if (subjects.length === 0) {
        <span>Brak wyników.</span>
        }
        <div class="row border mb-1">
            <div class="col-2"><span>Data</span></div>
            <div class="col-8"><span>Temat</span></div>
            <div class="col-2"><span>Autor</span></div>
        </div>
    
        @for (subject of subjects; track $index) {
        <div class="row border shadow-sm mb-2 pt-3 pb-3  div-hover">
            <div class="col-2">{{subject.timeCreated | date:'dd.MM.yyyy'}}</div>
            <div class="col-8">@if (hasCategoryId) {
                <a routerLink="subject/{{ subject.id }}" routerLinkActive="active">
                    <span>{{$index+1}}. {{subject.title}}</span>
                </a>
                }
                @if (hasSearchParameter) {
                <a routerLink="/search-subject/subject/{{ subject.id }}" routerLinkActive="active">
                    <span>{{$index+1}}. {{subject.title}}</span>
                </a>
                }
            </div>
            <div class="col-2">Jan Kowalski</div>
        </div>
        }
    </div>
    

</div>