<div class="background fill home-content">

  <div class="row margin-top">
    <h1 class="">Baza Wiedzy</h1>
    <p class="lead">Znajdź rozwiązanie swojego problemu.</p>
  </div>

  <div><app-announcements-list></app-announcements-list></div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Call to Action</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <a href="#" class="btn btn-primary">Contact Us</a>
    </div>
  </div>
</div>