@if(!isHome){
<div class="container-fluid text-center px-0 mb-5">
    <div class="sticky-lg-top">
        <app-top-nav-bar></app-top-nav-bar>
    </div>
</div>

<div class="container text-center">
    <router-outlet></router-outlet>
</div>

<div class="navbar fixed-bottom ms-1"><span class="not-home-footer">&copy;Paweł Stankiewicz</span>
</div>
}
@else{
<div class="container-fluid text-center d-flex px-0 position-relative">
    <div class="container-fluid text-center px-0 mb-1 position-absolute top-0">
        <div class="sticky-lg-top">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
    </div>
    <div [style.margin-top]="marginTop">
        <router-outlet class="router-outlet"></router-outlet>
    </div>
    <div class="navbar fixed-bottom ms-1">
        <span class="home-footer">&copy;Pa</span>
    </div>
</div>
}