<div class="d-flex flex-column align-items-center">
    @for (solution of solutions; track $index) {
    <span class="solution-title mb-3">{{solution.solutionSubject?.title}}</span>
    
    <p>{{solution.description}}</p>

    <button  class="btn btn-primary" routerLink="edit-solution/{{solution.id}}"  routerLinkActive="hide" [queryParams]="{ subjectId: solutions.at(0)?.solutionSubject?.id}">Dodaj</button>
    }

    <button class="btn btn-primary" routerLink="new-solution/"  routerLinkActive="hide" [queryParams]="{ subjectId: solutions.at(0)?.solutionSubject?.id}">Dodaj</button>

    <router-outlet></router-outlet>
</div>