<nav class="navbar navbar-light shadow-sm  mb-3 bg-body p-3 justify-content-between">
      <div class="me-2">
        <a routerLink="/"><img src="/assets/images/logo.webp" alt="placeholder"></a>
      </div>
    
      <div class="justify-content-center">
            @for(program of programs; track program.id){
            <button class="btn btn-transparent">
                <a routerLink="category/{{ program.id }}" routerLinkActive="active">{{ program.name }}</a>

            </button>
            }
    </div>

    <form class="d-flex">
        <input #searchInput  class="form-control" type="text"
            placeholder="Wyszukaj...">
        <button class="btn btn-transparent border-0" type="submit"><button class="btn btn-transparent">Wyszukaj</button>
        </button>
      </form>
</nav>
