<nav class="navbar navbar-light shadow-sm  mb-3 bg-body p-3 justify-content-between">
      <div class="col">
        <a routerLink="/"><img src="/assets/images/logo.webp" alt="placeholder"></a>
      </div>
    
      <div class="col justify-content-between">
            @for(program of programs; track program.id){
            <button class="btn btn-transparent border-0">
                <a routerLink="program/{{ program.id }}" routerLinkActive="active">{{ program.name }}</a>
            </button>
            }
    </div>

    <div class="col">
    <form>
        <div class="input-group">
        <input [(ngModel)]="searchValue" name="searchBox" #searchInput (keyup.enter)="onSearchSubmit(searchInput.value) " class="form-control" type="text" placeholder="Wyszukaj...">
        <button class="btn btn-transparent border-0" (click)="onSearchSubmit(searchInput.value)" type="submit">Wyszukaj</button>
      </div>
    </form>
    </div>
</nav>
