a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #a5324d;
    border: #a5324d;
}
.btn-primary:hover{
    background-color: #992540;
}

.div-hover:hover{
    background-color: #f3f3f3;
}
