a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #a5324d;
    border: #a5324d;
}

.btn-primary:hover {
    background-color: #992540;
}

.div-hover:hover {
    background-color: #f3f3f3;
}

.ql-toolbar {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0 !important;


}

.ql-container {
    border: 0 !important;
}

.ql-editor {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

quill-view .ql-container {
    border: 0 !important;
}

quill-view .ql-editor {

    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 0px;
}

.btn-link {
    color: #a5324d;
}

.btn-link:hover {
    color: #a5324d;
    background-color: #faecec;
}

